{
  "Entries": [
    {
      "RequestUri": "https://juta-acs1.int.communication.azure.net/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Aug 2021 04:19:45 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99917934",
        "MS-CV": "GNGBtFcun0OCKBM4aMBC1A.0"
      },
      "ResponseBody": {
        "id": "99917934",
        "createdDateTime": "2021-08-27T04:19:46.128593\u002B00:00",
        "validFrom": "2021-08-27T04:19:46.0358133\u002B00:00",
        "validUntil": "2022-02-23T04:19:46.0358133\u002B00:00"
      }
    },
    {
      "RequestUri": "https://juta-acs1.int.communication.azure.net/rooms/99917934?api-version=2021-04-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Aug 2021 04:19:46 GMT"
      },
      "RequestBody": {
        "validFrom": "2021-08-01T08:06:32.0000000\u002B01:00",
        "validUntil": "2021-08-02T08:06:32.0000000\u002B01:00"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "10MquthT10eYFO84noR7Rw.0"
      },
      "ResponseBody": {
        "id": "99917934",
        "createdDateTime": "2021-08-27T04:19:46.128593\u002B00:00",
        "validFrom": "2021-08-01T07:06:32\u002B00:00",
        "validUntil": "2021-08-02T07:06:32\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://juta-acs1.int.communication.azure.net/rooms/99917934?api-version=2021-04-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Aug 2021 04:19:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "MS-CV": "f7uKpK6PAk2bJwK5LfAV/Q.0"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://juta-acs1.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "757030358"
  }
}