{
  "Entries": [
    {
      "RequestUri": "https://juta-acs1.int.communication.azure.net/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Aug 2021 04:19:50 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "999133386",
        "MS-CV": "FamB\u002Bdymn0WO\u002Bs5FMIrfpA.0"
      },
      "ResponseBody": {
        "id": "999133386",
        "createdDateTime": "2021-08-27T04:19:51.2068249\u002B00:00",
        "validFrom": "2021-08-27T04:19:51.1145683\u002B00:00",
        "validUntil": "2022-02-23T04:19:51.1145683\u002B00:00"
      }
    },
    {
      "RequestUri": "https://juta-acs1.int.communication.azure.net/rooms/999133386?api-version=2021-04-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Aug 2021 04:19:51 GMT"
      },
      "RequestBody": {
        "validFrom": "2021-08-01T08:06:32.0000000\u002B01:00",
        "validUntil": "2021-08-02T08:06:32.0000000\u002B01:00"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "9bacrqSEckSDA\u002BVZeOgwHw.0"
      },
      "ResponseBody": {
        "id": "999133386",
        "createdDateTime": "2021-08-27T04:19:51.2068249\u002B00:00",
        "validFrom": "2021-08-01T07:06:32\u002B00:00",
        "validUntil": "2021-08-02T07:06:32\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://juta-acs1.int.communication.azure.net/rooms/999133386?api-version=2021-04-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Aug 2021 04:19:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "MS-CV": "k7md5HxGhEuE190/sWeHuA.0"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://juta-acs1.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "2115734200"
  }
}