{
  "Entries": [
    {
      "RequestUri": "https://juta-acs1.int.communication.azure.net/rooms?api-version=2021-04-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 27 Aug 2021 04:19:50 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "999161881",
        "MS-CV": "6T03RlEhhE2B/vzOIH/rQw.0"
      },
      "ResponseBody": {
        "id": "999161881",
        "createdDateTime": "2021-08-27T04:19:50.8161865\u002B00:00",
        "validFrom": "2021-08-27T04:19:50.7324261\u002B00:00",
        "validUntil": "2022-02-23T04:19:50.7324261\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://juta-acs1.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "778429014"
  }
}